<!DOCTYPE html>
<a href="/">トップページに戻る</a>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>やることリスト</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>やることリスト</h1>
    <ul>
      <li>jsをマスターする</li>
      <li>HTMLを書けるようになる</li>
      <li>CSSで綺麗なデザイン!</li>
    </ul>
  </body>
</html>
